ombi:
  enabled: true
  global:
    fullnameOverride: ombi
  controllers:
    main:
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/ombi
            tag: latest # managed by ArgoCD Image Updater
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/New_York"
            BASE_URL: "/"
          resources:
            requests:
              cpu: 25m
              memory: 400Mi
            limits:
              cpu: 750m
              memory: 800Mi
          probes:
            liveness: &lr-probe
              enabled: true
              type: &probe-type TCP
              spec:
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *lr-probe
            startup:
              enabled: true
              type: *probe-type
              spec:
                periodSeconds: 5
                timeoutSeconds: 1
                successThreshold: 1
                failureThreshold: 30
  service:
    main:
      controller: main
      ports:
        http:
          port: &port 3579
  ingress:
    main:
      enabled: true
      hosts:
        - host: &domain ombi.jsnouff.net
          paths:
            - path: /
              pathType: Prefix
              service:
                name: ombi
                port: *port
      tls:
        - hosts:
            - *domain
          secretName: tls-secret
      annotations:
        cert-manager.io/cluster-issuer: lets-encrypt-production
        ingress.kubernetes.io/force-ssl-redirect: "true"
        ingress.kubernetes.io/protocol: http
        kubernetes.io/ingress.class: traefik
        kubernetes.io/tls-acme: "true"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: traefik-default-security@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls.options: traefik-default-tls@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls: "true"

  persistence:
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 256Mi

common:
  resticBackups:
    enabled: true
    targets:
      ombi:
        pvcName: ombi-config
        bucket: jsnouff-ombi
        type: b2
        restoreVersion: latest
        tags:
          - "{{ $.Values.ombi.controllers.main.containers.main.image.repository }}:{{ $.Values.ombi.controllers.main.containers.main.image.tag }}"
        affinity:
          podAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                    - ombi
                topologyKey: kubernetes.io/hostname