# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true

server:
  limiter: false
  image_proxy: true

search:
  safe_search: 0
  autocomplete: google

ui:
  static_use_hash: true
  infinite_scroll: true
  query_in_title: true
  center_alignment: false

enabled_plugins:
  - 'Hash plugin'
  - 'Self Information'
  - 'Tracker URL remover'
  - 'Ahmia blacklist'
  - 'Basic Calculator'
  - 'Open Access DOI rewrite'

categories_as_tabs:
  general:
  images:
  videos:
  news:
  map:
  music:
  it:
  science:
  social media:
  books:

engines:
  - name: goodreads
    engine: goodreads
    shortcut: good
    timeout: 4.0
    disabled: false
    categories: ["books"]

  - name: hoogle
    disabled: true
  - name: gentoo
    disabled: true
  - name: chefkoch
    disabled: true
  - name: soundcloud
    inactive: true
  - name: qwant
    disabled: true