searxng:
  enabled: true
  global:
    fullnameOverride: searxng
  defaultPodOptions:
    automountServiceAccountToken: false
    dnsConfig:
      options:
        - name: ndots
          value: "3"
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - searxng
            topologyKey: kubernetes.io/hostname
    securityContext:
      runAsNonRoot: true
      runAsUser: 977
      fsGroup: 977
      seccompProfile:
        type: RuntimeDefault
  controllers:
    searxng:
      type: deployment
      annotations:
        reloader.stakater.com/auto: "true"
      replicas: 2
      strategy: RollingUpdate
      initContainers:
        copy-configs:
          image:
            repository: busybox
            tag: latest
            pullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              cp /config-files/limiter.toml /config
              cp /config-files/settings.yml /config
      containers:
        main:
          image:
            repository: searxng/searxng
            tag: 2025.12.4-8c631b92c
            pullPolicy: IfNotPresent
          env:
            SEARXNG_BASE_URL: https://search.jsnouff.net/
            SEARXNG_REDIS_URL: redis://dragonfly:6379/0
            SEARXNG_SECRET:
              valueFrom:
                secretKeyRef:
                  key: key
                  name: searxng-secret-key
          resources:
            limits:
              cpu: 1000m
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 1Gi
          probes:
            liveness: &lr-probe
              enabled: true
              type: &probe-type HTTP
              path: &probe-path /
              spec:
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *lr-probe
            startup:
              enabled: true
              type: *probe-type
              path: *probe-path
              spec:
                initialDelaySeconds: 10
                periodSeconds: 5
                timeoutSeconds: 5
                successThreshold: 1
                failureThreshold: 60
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
              add:
              - CHOWN
              - SETGID
              - SETUID
              - DAC_OVERRIDE
  service:
    searxng:
      controller: searxng
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: http
      ports:
        http:
          port: &port 8080
  ingress:
    searxng:
      enabled: true
      hosts:
        - host: &domain search.jsnouff.net
          paths:
            - path: /
              pathType: Prefix
              service:
                name: searxng
                port: *port
      tls:
        - hosts:
            - *domain
          secretName: tls-secret
      annotations:
        cert-manager.io/cluster-issuer: lets-encrypt-production
        ingress.kubernetes.io/force-ssl-redirect: "true"
        ingress.kubernetes.io/protocol: http
        kubernetes.io/ingress.class: traefik
        kubernetes.io/tls-acme: "true"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: traefik-default-security@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls.options: traefik-default-tls@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls: "true"
  persistence:
    data:
      enabled: true
      type: emptyDir
      advancedMounts:
        searxng:
          copy-configs:
            - path: /config
          main:
            - path: /etc/searxng
    searxng-config-files:
      enabled: true
      type: configMap
      name: searxng-config
      advancedMounts:
        searxng:
          copy-configs:
            - path: /config-files

databases:
  dragonfly:
    enabled: true
    controllers:
      dragonfly:
        statefulset:
          volumeClaimTemplates: []
    persistence:
      data:
        enabled: true