nzbhydra2:
  enabled: true
  global:
    fullnameOverride: nzbhydra2
  controllers:
    main:
      strategy: Recreate
      initContainers:
        copy-configs:
          image:
            repository: busybox
            tag: latest
            pullPolicy: IfNotPresent
          command:
            - sh
            - -c
            - |
              cp /cm/nzbhydra.yml /config
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/nzbhydra2
            tag: latest # managed by ArgoCD Image Updater
          env:
            PUID: "1000"
            PGID: "1000"
            TZ: "America/New_York"
          resources:
            requests:
              cpu: 15m
              memory: 400Mi
            limits:
              cpu: 250m
              memory: 800Mi
          probes:
            liveness: &lr-probe
              enabled: true
              type: &probe-type TCP
              spec:
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *lr-probe
            startup:
              enabled: true
              type: *probe-type
              spec:
                periodSeconds: 5
                timeoutSeconds: 1
                successThreshold: 1
                failureThreshold: 30
  service:
    main:
      controller: main
      ports:
        http:
          port: &port 5076
  ingress:
    main:
      enabled: true
      hosts:
        - host: &domain nzbhydra2.jsnouff.net
          paths:
            - path: /
              pathType: Prefix
              service:
                name: nzbhydra2
                port: *port
      tls:
        - hosts:
            - *domain
          secretName: tls-secret
      annotations:
        cert-manager.io/cluster-issuer: lets-encrypt-production
        ingress.kubernetes.io/force-ssl-redirect: "true"
        ingress.kubernetes.io/protocol: http
        kubernetes.io/ingress.class: traefik
        kubernetes.io/tls-acme: "true"
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.middlewares: traefik-default-security@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls.options: traefik-default-tls@kubernetescrd
        traefik.ingress.kubernetes.io/router.tls: "true"

  persistence:
    config-secret:
      enabled: true
      type: secret
      name: nzbhydra2-config-secret
      advancedMounts:
        main:
          copy-configs:
            - path: /cm/nzbhydra.yml
              subPath: nzbhydra.yml
    config:
      enabled: true
      accessMode: ReadWriteOnce
      size: 1Gi # needs at least 500Mi free space for nzbhydra to start

common:
  resticBackups:
    enabled: true
    targets:
      nzbhydra2:
        pvcName: nzbhydra2-config
        bucket: jsnouff-nzbhydra2
        type: b2
        restoreVersion: latest
        tags:
          - "{{ $.Values.nzbhydra2.controllers.main.containers.main.image.repository }}:{{ $.Values.nzbhydra2.controllers.main.containers.main.image.tag }}"
        affinity:
          podAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                    - nzbhydra2
                topologyKey: kubernetes.io/hostname
